		
@media screen and (max-width: 1125px){
	.topnav{
		width: 700px;
		margin-left: 70px;
	}
	.topnav a{
		margin-left: 15px;
        margin-bottom: 7px;
		font-size: 16px;
	}

}
@media screen and (max-width: 885px){
	.topnav{
		width: 700px;
		margin-left: 40px;
	}
	.topnav a{
		margin-left: 10px;
		font-size: 19px;
	}
	.logo{
		margin-left: 20px;
	}

}
@media screen and (max-width: 825px){
	.topnav{
		width: 600px;
		margin-left: 40px;
	}
	.topnav a{
		margin-left: 5px;
		font-size: 16px;
		margin-top: 7px;
	}

}
@media screen and (max-width: 735px){
	.topnav{
		width: 520px;
		margin-left: 20px;
	}
	.topnav a{
		margin-left: 4px;
		font-size: 13px;
		margin-top: 8px;
	}
	.logo{
		margin-left: 10px;
		width: 45px;
	}

}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 400px){
	.topnav{
		width: 600px;
		margin-left: 15px;
		border-radius: 5px;
	}
	.topnav a{
		margin-left: 5px;
		font-size: 10px;
		border-radius: 7px;
		margin-top: 7px;
	}

}
@media (max-width: 1243.8px){
	.gondola{
		display: none;
	}
	.mtadagondola{
		display: none;
    }
    .mtadagondola1{
		display: none;
	}
	.logo{
		margin-top: 12.5px;
	}
}
@media (max-width: 1195px){
	   .hey{
	   	display: block;
	   }
	   .vottak{
	   	margin-top: 100px;
	   	margin-left: 185px;
	   	width: 480px;
	   	height: 270px;
	   }
}
@media(max-width: 968px){
	  ul{

	  	grid-template-columns: repeat(2,50%);
	  }
      .article-1{
      	width: 100%;
      }
      h2{ 
        font-size: 32px;
        margin-top: 80px;
      }
        .mzadxar1{
      	width: 100%;
      	margin-top: 120px;
      	font-size: 32px;
      	font-weight: bold;
      	margin-left: 72px;
      }
        .mzadxar2{
      	width: 100%;
      	font-size: 32px;
      	font-weight: bold;
      	margin-left: 72px;
      }
      .article-event{
       display: block;
      }
     .skier{
     	width: 600px;
     	margin-top: 200px;
     	margin-left: 110px;
     }
     .ioskier{
     	margin-top: 1050px;
     	margin-left: 400px;
     	width: 100px;
     }
     @keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top: 150px; left: -80px;
	}
}
.chaewere{
	margin-right: 350px; 
	width: 300px;
	margin-top: 60px;
}
.satauri{
	font-size: 130px;
	margin-left: 220px;
}
.satauri1{
	font-size: 50px;
	margin-left: 300px;
}
.vottak{
	width: 100vw;
	background-size: cover;
	margin-top: 350px;
	margin-left: 0;
	height: 500px;
}

}
@media (max-width: 889px){
    .mzadxar1{
        	font-size: 30px;
        	margin-top: 120px;
        	margin-left: 35px;
    }
    .mzadxar2{
        	font-size: 30px;
        	margin-left: 35px;
    }
    .mzadxar{
        	font-size: 26px;
        	margin-left: 100px;
    }
    .chaewere{
    	margin-left: 250px;
    	margin-top: 80px;
    	width: 250px;
    }
    .satauri{
    	margin-left: 150px;
    }
    .satauri1{
    	margin-left: 235px;
    }
    .vottak{
    	margin-top:100px;
    	width: 100%;
    	object-fit: fill;
        border:0px;

    }
    .logo{
    	margin-top: 10px;
    }

}
@media (max-width: 728px){
	.skier{
		margin-left: 50px;
		margin-top:100px;
	}
	.ioskier{
		margin-left: 340px;
		margin-top: 900px;
	}
	.mzadxar1{
        	font-size: 26px;
        	margin-top: 100px;
        	margin-left: 35px;
    }
    .mzadxar2{
        	font-size: 26px;
        	margin-left: 35px;
    }
    .mzadxar{
        	font-size: 22px;
        	margin-left: 120px;
    }
    .satauri{
    	margin-left: 120px;
    }
    .satauri1{
    	margin-left: 220px;
    }
    .vottak{
    	width: 100%;
    	height: 350px;
    	background-size: contain;
    }

}
@media (max-width: 694px){
	.skier{
		margin-left: 50px;
		margin-top:100px;
		width: 500px;
	}
	.ioskier{
		margin-left: 300px;
		margin-top: 850px;
		width: 75px;
	}
	.mzadxar1{
        	font-size: 24px;
        	margin-top: 100px;
        	margin-left: 35px;
    }
    .mzadxar2{
        	font-size: 24px;
        	margin-left: 35px;
    }
    .mzadxar{
        	font-size: 18px;
        	margin-left: 120px;
    }
    .satauri{
    	margin-left: 120px;
    	font-size: 100px;
    }
    .satauri1{
    	margin-left: 220px;
    }
    .chaewere{
    	margin-left: 220px;
    	width: 220px;
    }
}
@media (max-width: 640px){
	.skier{
		margin-left: 40px;
		margin-top:100px;
		width: 450px;
	}
	.ioskier{
		margin-left: 290px;
		margin-top: 860px;
		width: 45px;
	}
.chaewere{
	width: 200px;
	margin-left: 200px;
}
	.mzadxar1{
        	font-size: 23px;
        	margin-top: 100px;
        	margin-left: 15px;
    }
    .mzadxar2{
        	font-size: 23px;
        	margin-left: 15px;
    }
    .mzadxar{
        	font-size: 20px;
        	margin-left: 80px;
    }
    .satauri{

    	margin-left: 120px;
    }
    .satauri1{
    	margin-left: 220px;
}
}
@media (max-width: 584px){

	.skier{
		margin-left: 50px;
		margin-top:100px;
	}
	.ioskier{
		margin-left: 300px;
		margin-top: 800px;
	}
	.mzadxar1{
        	font-size: 22px;
        	margin-top: 70px;
        	margin-left: 15px;
    }
    .mzadxar2{
        	font-size: 22px;
        	margin-left: 15px;
    }
    .mzadxar{
        	font-size: 22px;
        	margin-left: 40px;
    }
    .satauri{
    	margin-left: 120px;
    	font-size: 76px;
    }
    .satauri1{
    	margin-left: 220px;
    	font-size: 40px;
    }
    .chaewere{
    	width: 180px;
    }

}
@media (max-width: 547px){
	.skier{
		margin-left: 50px;
		margin-top:100px;
		width: 400px;
	}
	.ioskier{
		margin-left: 270px;
		margin-top: 730px;
		animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top: 115px; left: -50px;
	}
	}

	.mzadxar1{
        	font-size: 20px;
        	margin-top: 48px;
        	margin-left: 15px;
    }
    .mzadxar2{
        	font-size: 20px;
        	margin-left: 15px;
    }
    .mzadxar{
        	font-size: 20px;
        	margin-left: 40px;
    }
    .satauri{
    	margin-left: 80px;
    	font-size: 76px;
    }
    .satauri1{
    	margin-left: 180px;
    	font-size: 40px;
    }
    .chaewere{
    	width: 200px;
    	margin-left: 180px;
    }
    .vottak{
    	height: 300px;
    }
}
@media (max-width: 513px){
	.skier{
		margin-left: 40px;
		margin-top:100px;
		width: 400px;
	}
	.ioskier{
		width: 50px;
		margin-left: 255px;
		margin-top: 715px;animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top: 100px; left: -45px;
	}
	}

	.mzadxar1{
        	font-size: 19px;
        	margin-top: 72px;
        	margin-left: 20px;
    }
    .mzadxar2{
        	font-size: 19px;
        	margin-left: 15px;
    }
    .mzadxar{
        	font-size: 19px;
        	margin-left:20px;
    }
    .satauri{
    	margin-left: 100px;
    	font-size: 64px;
    }
    .satauri1{
    	margin-left: 180px;
    	font-size: 36px;
    }
    .chaewere{
    	width: 150px;
    	margin-left: 160px;
    }
    .vottak{
    	height: 250px;
    }
}
@media (max-width: 473px){
	.skier{
		margin-left: 15px;
		margin-top:100px;
		width: 400px;
	}
	.ioskier{
		margin-left: 235px;
		margin-top: 700px;
		width: 40px;
		animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top: 120px; left: -55px;
	}
	}

	.mzadxar1{
        	font-size: 17px;
        	margin-top: 72px;
        	margin-left: 20px;
    }
    .mzadxar2{
        	font-size: 17px;
        	margin-left: 20px;
    }
    .mzadxar{
        	font-size: 17px;
        	margin-left:30px;
    }
    .satauri{
    	margin-left: 80px;
    	font-size: 56px;
    }
    .satauri1{
    	margin-left: 180px;
    	font-size: 32px;
    }
    .chaewere{
    	width: 150px;
    	margin-left: 140px;
    }
    .vottak{
    	height: 230px;
    	margin-top: 125px;

    }
}
@media (max-width: 448px){
	.skier{
		margin-left: 30px;
		margin-top:100px;
		width: 300px;
	}
	.ioskier{
		margin-left: 195px;
		margin-top: 560px;
		width: 35px;
		animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top: 82px; left: -42px;
	}
	}

	.mzadxar1{
        	font-size: 15px;
        	margin-top: 40px;
        	margin-left: 10px;
    }
    .mzadxar2{
        	font-size: 15px;
        	margin-left: 10px;
    }
    .mzadxar{
        	font-size: 15px;
        	margin-left:24px;
            margin-top: 50px;
    }
    .satauri{
    	margin-left: 90px;
    	font-size: 46px;
    }
    .satauri1{
    	margin-left: 150px;
    	font-size: 24px;
    }
    .chaewere{
    	width: 130px;
    	margin-left: 115px;
    	margin-top: 45px;
    }
    .vottak{
    	height: 180px;
    }
}
@media (max-width: 395px){
	a{
		font-size: 10px;
	}
	.skier{
		margin-left: 25px;
		margin-top:100px;
		width: 300px;
	}
	.ioskier{
		margin-left: 195px;
		margin-top: 565px;
		width: 30px;
		animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top:80px; left: -45px;
	}
	}

	.mzadxar1{
        	font-size: 14px;
        	margin-top: 40px;
        	margin-left: 12px;
    }
    .mzadxar2{
        	font-size: 14px;
        	margin-left: 12px;
    }
    .mzadxar{
        	font-size: 14px;
        	margin-left:24px;
        	margin-top: 60px;
    }
    .satauri{
    	margin-left: 50px;
    	font-size: 50px;
    }
    .satauri1{
    	margin-left: 100px;
    	font-size: 30px;
    }
    .chaewere{
    	width: 110px;
    	margin-left: 120px;
    	margin-top: 40px;
    }
    .logo{
    	width: 35px;
    	margin-top: 8px;
    	margin-left: 20px;
    	margin-right: 5px;
    }
}
@media (max-width: 372px){
	
	.skier{
		margin-left: 25px;
		margin-top:100px;
		width: 300px;
	}
	.ioskier{
		margin-left: 193px;
		margin-top: 530px;
		width: 35px;
		animation-name: skiing;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 0px;
	}
	100%{
		top:80px; left: -45px;
	}
	}
	.topnav a{
		font-size: 9px;
	}

	.mzadxar1{
        	font-size: 13px;
        	margin-top: 40px;
        	margin-left: 12px;
    }
    .mzadxar2{
        	font-size: 13px;
        	margin-left: 12px;
    }
    .mzadxar{
        	font-size: 13px;
        	margin-left:24px;
        	margin-top: 60px;
    }
    .satauri{
    	margin-left: 50px;
    	font-size: 46px;
    }
    .satauri1{
    	margin-left: 100px;
    	font-size: 26px;
    }
    .chaewere{
    	width: 90px;
    	margin-left: 120px;
    	margin-top: 40px;
    }
    .logo{
    	width: 35px;
    	margin-top: 8px;
    	margin-left: 20px;
    	margin-right: 5px;
    }
}

