
.body-1{
	background: rgb(31,31,222);
background: linear-gradient(90deg, rgba(31,31,222,1) 1%, rgba(35,37,156,1) 7%, rgba(9,18,115,1) 15%, rgba(0,8,96,1) 28%, rgba(9,9,118,1) 49%, rgba(9,19,121,1) 62%, rgba(7,0,88,1) 79%, rgba(53,5,107,1) 98%);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	background-attachment: fixed;
}
.body-5 header{
  height: 0px;
  display: flex;
}
.logo{
  margin-right: 410px;
  margin-bottom: 110px;
  width: 60px;
}
.fa {
  padding: 6px;
  font-size: 24px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: block;
  margin-left: 22px;
  margin-top: 48px;
}
.body-2{
  overflow-y: hidden;
  overflow-x: hidden;
}

.bodybody{
  overflow-y: hidden;
  overflow-x: hidden;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  transition: opacity .3s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 8px;
}

/* Twitter */
.fa-youtube {
  background:  #bb0000;
  color: white;
  margin-top: 12px;
  font-size: 22px;
}


.gondola{
	margin-left: 980px;
  width: 55px;
  height: 55px;
	margin-bottom: 410px;
	position: absolute;
	animation-name: gondol;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-out;
}

.mtadagondola{
	position: relative;
	
	width: 47px;
	height: 47px;
  margin-left: 750px;
  filter: blur(2px);
}
.mtadagondola1{
	margin-top: 188px;
	position: relative;
	width: 62px;
	height: 62px;
   filter: blur(1.5px);
}
.gondola:hover{
  transform: scale(1.2);
  transition: transform .6s;
    
}
.ioskier:hover{
  transform: scale(1.4);
  transition: transform .6s;
    
}

.mtadagondola1:hover{
  transform: scale(1.1);
  filter: blur(0px);
  transition: transform .3s;
    
}
.skier:hover{
  transform: scale(1.1);
  filter: blur(0px);
  transition: transform .6s;
    
}
.mtadagondola:hover{
  transform: scale(1.1);
  filter: blur(0px);
  transition: transform .3s;
    
}
@keyframes gondol {
	0%{
		left: 0; bottom: 0;
	}
	100%{
		left: 205px; bottom: 98px;
	}
}

.hey{
	
	height: 100%;

}
.heyyo{
	display: flex;
}
.ioskier{
	width: 40px;
	position: absolute;
	margin-left: -140px;
	margin-top: 87px;

	animation-name: skiing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 382px;
	}
	100%{
		top: 80px; left: 343px;
	}
}
.skier{
	position: relative;
	margin-left: 85px;
	margin-top: 120px;
	
	width: 290px;
  filter: blur(1px);
}
	
.container{
	display: flex;
	justify-content: space-between;

}
@keyframes animate {
	0%,10%,100%{
		width: 0;
	}
	50%,80%{
		width: 100%;
	}
}
.mzadxar1{
	font-size: 22px;
	font-family: "MG Glaho Drunk", sans-serif;
	color: black;
	line-height: 1.2;
	margin-top: 36px;
	margin-left: 134px;
	font-weight: 800;
	
}
.mzadxar2{
	font-size: 22px;
	font-family: "MG Glaho Drunk", sans-serif;
	color: black;
	line-height: 1.2;
	margin-top: 5px;
	margin-left: 134px;
	font-weight: 800;
	
}
.hrr{
	width: 500px;
	margin-left: 140px;
	margin-top: 20px;
	color: black;
}}
.privet{
	display: flex;
}
.satauri{
	font-size: 86px;
	font-family: "Permanent Marker", sans-serif;
	color: black;
	font-weight: bold;
	line-height: 1.3;
	margin-top: 30px;
	margin-left: 230px;
	font-weight: 600;
}
.satauri1{
	font-size: 36px;
	font-family: "Chelsea Market", sans-serif;
	color: black;
	font-weight: 900;
	line-height: 1.3;
	margin-top: -10px;
	margin-left: 300px;
	font-weight: 600;
}
.body-3{
   overflow-y: hidden;
   overflow-x: hidden;
   height: 100%;
   width: 100%;
}
.hey{
	display: flex;
}

.vottak:hover {
  transform: scaleX(-1);
}

@keyframes zoom {
  from {transform: scale(0.01)} 
  to {transform: scale(1)}
}
.mzadxar {  
	font-size: 19px;
	margin-left:48px;
  animation-name: zoom;
  animation-duration: 3s;
  font-family: "ALKDots", sans-serif;
}

@keyframes zoom {
  from {transform: scale(0.01)} 
  to {transform: scale(1)}
}


.bg-image {
  /* The image used */
  
  /* Add the blur effect */I
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid white;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-size:18px;
  line-height: 35px;
  font-family: "ALK Life", sans-serif;
}
.bg-text:hover{
		background-color: #19284E;
}
.bg-text:hover{
	border:3px solid black;
}
.bg-text:hover{
	color: black;}
.soc{
	display: flex;
	margin-left: 350px;
	position: absolute;
}
.ravi{display: block;}


i.fa.fa-facebook{
border-radius: 100%;
font-size: 34px;
background: #3B5998;
height: 50px;
width: 50px;
line-height: 40px;
padding: 5px;
margin: 5px;
text-align: center;
border: 1px solid #3B5998;
color: white;
}
i.fa.fa-instagram{
border-radius: 100%;
background: #125688;
font-size: 34px;
height: 50px;
line-height: 40px;
padding: 5px;
margin: 5px;
margin-left: 20px;
text-align: center;
width: 50px;
border: 1px solid #3B5998;
color: white;
}
i.fa.fa-facebook:hover{
	opacity: 0.7;
}
i.fa.fa-instagram:hover{
	opacity: 0.7;
}

.bg-text1{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
 
  position: absolute;
  top: 500px;
  margin-left: 690px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 160px;
  padding: 7px;}

.bg-text2{
  background-color: #19284E; /* Fallback color *//* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border:3px solid black;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 15px;
  text-align: center;
  font-size:20px;
  line-height: 35px;
  font-family: "ALK Life", sans-serif;
  
}
.bg-text3{
  background-color: #19284E; /* Fallback color *//* Black w/opacity/see-through */
  color: white;
  font-weight: 500;
  border:3px solid black;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 15px;
  text-align: center;
  font-size:18px;
  line-height: 20px;
  font-family: "ALK Life", sans-serif;
  
}
.ioio{
  margin-right:32px;

}
.ioio1{
  margin-right:24px;

}
.ioio2{
  margin-right:5px;

}
.ori{
  margin-top: 24px;
  color: white;
  opacity: 0.5;
  font-size: 14px;
}

.ioio3{
  margin-left:12px;

}
.tarigi{
	display: block;
	font-size: 16px;
	line-height: 18px;
	margin-top: 24px;

}
.xo{
	display: flex;
	margin-top: 10px;
}
.ho{
	display: flex;
	margin-top: 20px;
}
.va1{
	margin-left: 40px;
	height: 25px;
	width: 250px;
	margin-bottom: 25px;
}
.va{
	margin-left: 25px;
	height: 25px;
	width: 250px;
	margin-bottom: 25px;
}
.week{
    margin-top: 80px;
}
.submit{
	font-size: 14px;
	font-family: "Chelsea Market", sans-serif;
	color: white;
	font-weight: 700;
	background: #290C63;
	width: 80px;
	height: 30px;
	margin-top: 30px;
  border-radius: 25px;
}
footer input {
    background-color: transparent;
    padding: 15px;
    width: 300px;
    border: 3px solid #AFB5BC;
    outline: 0;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    margin-bottom: 76px;
}
.submit:hover{
  transform: scale(1.2);
  background: transparent;
  transition: transform .5s;
}
.haha{
	display: block;
}
.mail{
	margin-top: 30px;
	display: flex;
	font-family: "MG Glaho Drunk" sans-serif;
	font-size: 16px;}

.ui{
	display: block;
	margin-top: 64px;
}
.ai{
	display: flex;
	margin-top: 72px;
}
.ei{margin-top: 12px;
  margin-left: 12px;
  margin-right: 72px;
  margin-bottom: 12px;
  border:12px solid #23252A;
 }
 body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.b-lock{
  display: block;
  margin-right: 470px;
}
.hr{
  margin-bottom: 12px;
  margin-left: 78px;
  font-size: 12px;
  color: #CBD0D3;
  opacity: 0.7;
}
.wrapper-no4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0C1B63, #AFB5BC);
  height: 210px;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.wrapper-no4 .button-bird {
  width: 300px;
  height: 88px;
  background-color: #131335;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 860px;
}
.wrapper-no4 .button-bird__text {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #BEEDFF;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}
.wrapper-no4 .button-bird:focus {
  outline: none;
}
.wrapper-no4 .button-bird:hover .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1), top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
}
.wrapper-no4 .button-bird:hover .bird--30:after {
  left: 50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird:hover .bird--30:before {
  left: -50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird .feather {
  position: absolute;
  width: 18%;
  left: 40%;
  top: 12px;
  display: none;
  opacity: 0;
  fill: #131335;
}
.wrapper-no4 .button-bird.active {
  background-color: transparent;
  transition: all 0.2s linear 0.1s;
}
.wrapper-no4 .button-bird.active .button-bird__text {
  color: #131335;
  animation: text-fade 1.5s 0.2s;
}
.wrapper-no4 .button-bird.active .feather {
  display: block;
  animation: feather-fade 1.5s linear 0.5s forwards;
}
.wrapper-no4 .button-bird.active .bird--20, .wrapper-no4 .button-bird.active .bird--19, .wrapper-no4 .button-bird.active .bird--18, .wrapper-no4 .button-bird.active .bird--21, .wrapper-no4 .button-bird.active .bird--23, .wrapper-no4 .button-bird.active .bird--25, .wrapper-no4 .button-bird.active .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1), top 2s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1.5s;
}
.wrapper-no4 .button-bird.active .bird--5, .wrapper-no4 .button-bird.active .bird--17, .wrapper-no4 .button-bird.active .bird--16, .wrapper-no4 .button-bird.active .bird--15, .wrapper-no4 .button-bird.active .bird--22 {
  left: 600px;
  top: -600px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, opacity 0.5s linear 1.6s;
}
.wrapper-no4 .button-bird.active .bird--14, .wrapper-no4 .button-bird.active .bird--13, .wrapper-no4 .button-bird.active .bird--12, .wrapper-no4 .button-bird.active .bird--24, .wrapper-no4 .button-bird.active .bird--1 {
  left: 650px;
  top: -650px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, opacity 0.5s linear 1.65s;
}
.wrapper-no4 .button-bird.active .bird--11, .wrapper-no4 .button-bird.active .bird--10, .wrapper-no4 .button-bird.active .bird--9, .wrapper-no4 .button-bird.active .bird--26, .wrapper-no4 .button-bird.active .bird--27 {
  left: 650px;
  top: -700px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, opacity 0.5s linear 1.7s;
}
.wrapper-no4 .button-bird.active .bird--8, .wrapper-no4 .button-bird.active .bird--7, .wrapper-no4 .button-bird.active .bird--6, .wrapper-no4 .button-bird.active .bird--28 {
  left: 700px;
  top: -750px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, opacity 0.5s linear 1.75s;
}
.wrapper-no4 .button-bird.active .bird, .wrapper-no4 .button-bird.active .bird--4, .wrapper-no4 .button-bird.active .bird--29, .wrapper-no4 .button-bird.active .bird--3 {
  left: 750px;
  top: -800px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--2 {
  left: 850px;
  top: -850px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, top 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--5:after, .wrapper-no4 .button-bird.active .bird--4:after, .wrapper-no4 .button-bird.active .bird--8:after, .wrapper-no4 .button-bird.active .bird--14:before, .wrapper-no4 .button-bird.active .bird--16:after, .wrapper-no4 .button-bird.active .bird--17:before, .wrapper-no4 .button-bird.active .bird--21:after, .wrapper-no4 .button-bird.active .bird--30:after, .wrapper-no4 .button-bird.active .bird--30:before {
  left: 50px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.3s;
}
.wrapper-no4 .button-bird.active .bird--4:before, .wrapper-no4 .button-bird.active .bird--7:before, .wrapper-no4 .button-bird.active .bird--9:after, .wrapper-no4 .button-bird.active .bird--12:before, .wrapper-no4 .button-bird.active .bird--13:before, .wrapper-no4 .button-bird.active .bird--18:after, .wrapper-no4 .button-bird.active .bird--27:after, .wrapper-no4 .button-bird.active .bird--26:before {
  left: -50px;
  top: 0px;
  transition: all ss cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:before, .wrapper-no4 .button-bird.active .bird--2:after, .wrapper-no4 .button-bird.active .bird--1:after, .wrapper-no4 .button-bird.active .bird--7:after, .wrapper-no4 .button-bird.active .bird--8:before, .wrapper-no4 .button-bird.active .bird--15:after, .wrapper-no4 .button-bird.active .bird--19:before, .wrapper-no4 .button-bird.active .bird--22:after, .wrapper-no4 .button-bird.active .bird--28:after, .wrapper-no4 .button-bird.active .bird--28:before, .wrapper-no4 .button-bird.active .bird--3:after {
  left: 100px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.wrapper-no4 .button-bird.active .bird--2:before, .wrapper-no4 .button-bird.active .bird--1:before, .wrapper-no4 .button-bird.active .bird--9:before, .wrapper-no4 .button-bird.active .bird--12:after, .wrapper-no4 .button-bird.active .bird--13:after, .wrapper-no4 .button-bird.active .bird--17:after, .wrapper-no4 .button-bird.active .bird--19:before, .wrapper-no4 .button-bird.active .bird--23:after, .wrapper-no4 .button-bird.active .bird--23:before {
  left: 50px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:after, .wrapper-no4 .button-bird.active .bird--6:before, .wrapper-no4 .button-bird.active .bird--10:after, .wrapper-no4 .button-bird.active .bird--11:after, .wrapper-no4 .button-bird.active .bird--16:before, .wrapper-no4 .button-bird.active .bird--18:before, .wrapper-no4 .button-bird.active .bird--20:before, .wrapper-no4 .button-bird.active .bird--24:before, .wrapper-no4 .button-bird.active .bird--26:after, .wrapper-no4 .button-bird.active .bird--27:before {
  left: 50px;
  top: 50px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird--3:before, .wrapper-no4 .button-bird.active .bird--6:after, .wrapper-no4 .button-bird.active .bird--10:before, .wrapper-no4 .button-bird.active .bird--11:before, .wrapper-no4 .button-bird.active .bird--14:after, .wrapper-no4 .button-bird.active .bird--15:before, .wrapper-no4 .button-bird.active .bird--20:after, .wrapper-no4 .button-bird.active .bird--22:before, .wrapper-no4 .button-bird.active .bird--24:after, .wrapper-no4 .button-bird.active .bird--25:after, .wrapper-no4 .button-bird.active .bird--25:before, .wrapper-no4 .button-bird.active .bird--5:before {
  left: 100px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .bird, .wrapper-no4 .bird:before, .wrapper-no4 .bird:after, .wrapper-no4 .bird--1, .wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--3, .wrapper-no4 .bird--3:after, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--4, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--6, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--7, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--9, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--10, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--12, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--13, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--15, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--16, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  opacity: 1;
  display: block;
  position: absolute;
  background-image: url('http://cfriedri.ch/codepen/04/birds.svg');
  background-size: auto 100%;
  width: 60px;
  height: 33px;
  top: 0;
  left: 0;
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}
.wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  width: 30px;
  height: 33px;
  top: -8px;
  left: 8px;
  z-index: -100;
}
.wrapper-no4 .bird--21, .wrapper-no4 .bird--22, .wrapper-no4 .bird--23, .wrapper-no4 .bird--24, .wrapper-no4 .bird--25, .wrapper-no4 .bird--26, .wrapper-no4 .bird--27, .wrapper-no4 .bird--28, .wrapper-no4 .bird--29 {
  top: 0;
}
.wrapper-no4 .bird--22, .wrapper-no4 .bird--25, .wrapper-no4 .bird--28 {
  top: 25px;
}
.wrapper-no4 .bird--23, .wrapper-no4 .bird--26, .wrapper-no4 .bird--29 {
  top: 45px;
}
.wrapper-no4 .bird--24, .wrapper-no4 .bird--25, .wrapper-no4 .bird--26 {
  left: 133px;
}
.wrapper-no4 .bird--27, .wrapper-no4 .bird--28, .wrapper-no4 .bird--29 {
  left: 256px;
}
.wrapper-no4 .bird--18 {
  top: 0;
  left: 0;
}
.wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before {
  left: -20px;
}
.wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before {
  left: -10px;
}
.wrapper-no4 .bird--1:before, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--19:before {
  top: 18px;
}
.wrapper-no4 .bird--2:after, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--20:after {
  top: -18px;
  left: 12px;
}
.wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21:after {
  left: 27px;
}
.wrapper-no4 .bird--2:before, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--20:before {
  top: -36px;
  left: 12px;
}
.wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26:before {
  top: 10px;
  left: 45px;
}
.wrapper-no4 .bird--21:after, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--29:after {
  left: 10px;
  top: 4px;
}
.wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29:before {
  left: -45px;
  top: 10px;
}
.wrapper-no4 .bird:before, .wrapper-no4 .bird:after, .wrapper-no4 .bird--1:after, .wrapper-no4 .bird--1:before, .wrapper-no4 .bird--2:before, .wrapper-no4 .bird--2:after, .wrapper-no4 .bird--3:after, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--4:after, .wrapper-no4 .bird--4:before, .wrapper-no4 .bird--5:after, .wrapper-no4 .bird--5:before, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--7:after, .wrapper-no4 .bird--7:before, .wrapper-no4 .bird--8:after, .wrapper-no4 .bird--8:before, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--10:after, .wrapper-no4 .bird--10:before, .wrapper-no4 .bird--11:after, .wrapper-no4 .bird--11:before, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--13:after, .wrapper-no4 .bird--13:before, .wrapper-no4 .bird--14:after, .wrapper-no4 .bird--14:before, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--16:after, .wrapper-no4 .bird--16:before, .wrapper-no4 .bird--17:after, .wrapper-no4 .bird--17:before, .wrapper-no4 .bird--18:after, .wrapper-no4 .bird--18:before, .wrapper-no4 .bird--19:after, .wrapper-no4 .bird--19:before, .wrapper-no4 .bird--20:after, .wrapper-no4 .bird--20:before, .wrapper-no4 .bird--21:after, .wrapper-no4 .bird--21:before, .wrapper-no4 .bird--22:after, .wrapper-no4 .bird--22:before, .wrapper-no4 .bird--23:after, .wrapper-no4 .bird--23:before, .wrapper-no4 .bird--24:after, .wrapper-no4 .bird--24:before, .wrapper-no4 .bird--25:after, .wrapper-no4 .bird--25:before, .wrapper-no4 .bird--26:after, .wrapper-no4 .bird--26:before, .wrapper-no4 .bird--27:after, .wrapper-no4 .bird--27:before, .wrapper-no4 .bird--28:after, .wrapper-no4 .bird--28:before, .wrapper-no4 .bird--29:after, .wrapper-no4 .bird--29:before, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  content: '';
}
.wrapper-no4 .bird:before, .wrapper-no4 .bird--3:before, .wrapper-no4 .bird--12:before, .wrapper-no4 .bird--15:before, .wrapper-no4 .bird--6:before, .wrapper-no4 .bird--9:before, .wrapper-no4 .bird--18:before {
  top: 10px;
}
.wrapper-no4 .bird:after, .wrapper-no4 .bird--6:after, .wrapper-no4 .bird--12:after, .wrapper-no4 .bird--15:after, .wrapper-no4 .bird--9:after, .wrapper-no4 .bird--18:after {
  top: 35px;
}
.wrapper-no4 .bird--3:after {
  left: -10px;
}
.wrapper-no4 .bird--3:after {
  top: 40px;
}
.wrapper-no4 .bird--1, .wrapper-no4 .bird--4, .wrapper-no4 .bird--7, .wrapper-no4 .bird--10, .wrapper-no4 .bird--13, .wrapper-no4 .bird--16, .wrapper-no4 .bird--19 {
  top: 25px;
}
.wrapper-no4 .bird--2 {
  top: 45px;
}
.wrapper-no4 .bird--5 {
  top: 47px;
  left: 25px;
}
.wrapper-no4 .bird--8, .wrapper-no4 .bird--11, .wrapper-no4 .bird--14, .wrapper-no4 .bird--17, .wrapper-no4 .bird--20 {
  top: 50px;
}
.wrapper-no4 .bird--3, .wrapper-no4 .bird--4 {
  left: 59px;
}
.wrapper-no4 .bird--6, .wrapper-no4 .bird--7, .wrapper-no4 .bird--8 {
  left: 118px;
}
.wrapper-no4 .bird--9, .wrapper-no4 .bird--10, .wrapper-no4 .bird--11 {
  left: 177px;
}
.wrapper-no4 .bird--12, .wrapper-no4 .bird--13, .wrapper-no4 .bird--14 {
  left: 236px;
}
.wrapper-no4 .bird--15, .wrapper-no4 .bird--16, .wrapper-no4 .bird--17 {
  left: 206.5px;
}
.wrapper-no4 .bird--20 {
  left: 108px;
}
.wrapper-no4 .bird--18, .wrapper-no4 .bird--19 {
  left: 137.5px;
}
.wrapper-no4 .bird--30, .wrapper-no4 .bird--30:after, .wrapper-no4 .bird--30:before {
  left: 118px;
  top: 0;
}
.wrapper-no4 .bird--30:before {
  top: 25px;
}
.wrapper-no4 .bird--30:after {
  top: 20px;
}
.wrapper-no4 .active .bird, .wrapper-no4 .active .bird:before, .wrapper-no4 .active .bird--3, .wrapper-no4 .active .bird--4, .wrapper-no4 .active .bird--4:after, .wrapper-no4 .active .bird--4:before, .wrapper-no4 .active .bird--9, .wrapper-no4 .active .bird--9:after, .wrapper-no4 .active .bird--13, .wrapper-no4 .active .bird--13:after, .wrapper-no4 .active .bird--13:before, .wrapper-no4 .active .bird--15, .wrapper-no4 .active .bird--16, .wrapper-no4 .active .bird--18, .wrapper-no4 .active .bird--21, .wrapper-no4 .active .bird--21:after, .wrapper-no4 .active .bird--27:before, .wrapper-no4 .active .bird--24, .wrapper-no4 .active .bird--24:after, .wrapper-no4 .active .bird--24:before, .wrapper-no4 .active .bird--27, .wrapper-no4 .active .bird--27:after, .wrapper-no4 .active .bird--30:before, .wrapper-no4 .button-bird:hover .bird, .wrapper-no4 .button-bird:hover .bird:before, .wrapper-no4 .button-bird:hover .bird--3, .wrapper-no4 .button-bird:hover .bird--4, .wrapper-no4 .button-bird:hover .bird--4:after, .wrapper-no4 .button-bird:hover .bird--4:before, .wrapper-no4 .button-bird:hover .bird--9, .wrapper-no4 .button-bird:hover .bird--9:after, .wrapper-no4 .button-bird:hover .bird--13, .wrapper-no4 .button-bird:hover .bird--13:after, .wrapper-no4 .button-bird:hover .bird--13:before, .wrapper-no4 .button-bird:hover .bird--15, .wrapper-no4 .button-bird:hover .bird--16, .wrapper-no4 .button-bird:hover .bird--18, .wrapper-no4 .button-bird:hover .bird--21, .wrapper-no4 .button-bird:hover .bird--21:after, .wrapper-no4 .button-bird:hover .bird--27:before, .wrapper-no4 .button-bird:hover .bird--24, .wrapper-no4 .button-bird:hover .bird--24:after, .wrapper-no4 .button-bird:hover .bird--24:before, .wrapper-no4 .button-bird:hover .bird--27, .wrapper-no4 .button-bird:hover .bird--27:after, .wrapper-no4 .button-bird:hover .bird--30:before {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird--1, .wrapper-no4 .active .bird--1:after, .wrapper-no4 .active .bird--3:before, .wrapper-no4 .active .bird--5, .wrapper-no4 .active .bird--5:after, .wrapper-no4 .active .bird--5:before, .wrapper-no4 .active .bird--7, .wrapper-no4 .active .bird--7:after, .wrapper-no4 .active .bird--7:before, .wrapper-no4 .active .bird--9:before, .wrapper-no4 .active .bird--10, .wrapper-no4 .active .bird--10:after, .wrapper-no4 .active .bird--10:before, .wrapper-no4 .active .bird--14, .wrapper-no4 .active .bird--14:after, .wrapper-no4 .active .bird--14:before, .wrapper-no4 .active .bird--17, .wrapper-no4 .active .bird--17:after, .wrapper-no4 .active .bird--17:before, .wrapper-no4 .active .bird--19, .wrapper-no4 .active .bird--19:after, .wrapper-no4 .active .bird--19:before, .wrapper-no4 .active .bird--18:after, .wrapper-no4 .active .bird--22, .wrapper-no4 .active .bird--22:after, .wrapper-no4 .active .bird--22:before, .wrapper-no4 .active .bird--25, .wrapper-no4 .active .bird--25:after, .wrapper-no4 .active .bird--25:before, .wrapper-no4 .active .bird--28, .wrapper-no4 .active .bird--28:after, .wrapper-no4 .active .bird--28:before, .wrapper-no4 .active .bird--30:after, .wrapper-no4 .button-bird:hover .bird--1, .wrapper-no4 .button-bird:hover .bird--1:after, .wrapper-no4 .button-bird:hover .bird--3:before, .wrapper-no4 .button-bird:hover .bird--5, .wrapper-no4 .button-bird:hover .bird--5:after, .wrapper-no4 .button-bird:hover .bird--5:before, .wrapper-no4 .button-bird:hover .bird--7, .wrapper-no4 .button-bird:hover .bird--7:after, .wrapper-no4 .button-bird:hover .bird--7:before, .wrapper-no4 .button-bird:hover .bird--9:before, .wrapper-no4 .button-bird:hover .bird--10, .wrapper-no4 .button-bird:hover .bird--10:after, .wrapper-no4 .button-bird:hover .bird--10:before, .wrapper-no4 .button-bird:hover .bird--14, .wrapper-no4 .button-bird:hover .bird--14:after, .wrapper-no4 .button-bird:hover .bird--14:before, .wrapper-no4 .button-bird:hover .bird--17, .wrapper-no4 .button-bird:hover .bird--17:after, .wrapper-no4 .button-bird:hover .bird--17:before, .wrapper-no4 .button-bird:hover .bird--19, .wrapper-no4 .button-bird:hover .bird--19:after, .wrapper-no4 .button-bird:hover .bird--19:before, .wrapper-no4 .button-bird:hover .bird--18:after, .wrapper-no4 .button-bird:hover .bird--22, .wrapper-no4 .button-bird:hover .bird--22:after, .wrapper-no4 .button-bird:hover .bird--22:before, .wrapper-no4 .button-bird:hover .bird--25, .wrapper-no4 .button-bird:hover .bird--25:after, .wrapper-no4 .button-bird:hover .bird--25:before, .wrapper-no4 .button-bird:hover .bird--28, .wrapper-no4 .button-bird:hover .bird--28:after, .wrapper-no4 .button-bird:hover .bird--28:before, .wrapper-no4 .button-bird:hover .bird--30:after {
  animation-duration: 0.7s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird:after, .wrapper-no4 .active .bird--1:before, .wrapper-no4 .active .bird--2, .wrapper-no4 .active .bird--2:before, .wrapper-no4 .active .bird--2:after, .wrapper-no4 .active .bird--3:after, .wrapper-no4 .active .bird--6, .wrapper-no4 .active .bird--6:after, .wrapper-no4 .active .bird--6:before, .wrapper-no4 .active .bird--8, .wrapper-no4 .active .bird--8:after, .wrapper-no4 .active .bird--8:before, .wrapper-no4 .active .bird--11, .wrapper-no4 .active .bird--11:after, .wrapper-no4 .active .bird--11:before, .wrapper-no4 .active .bird--12, .wrapper-no4 .active .bird--12:after, .wrapper-no4 .active .bird--12:before, .wrapper-no4 .active .bird--16, .wrapper-no4 .active .bird--16:after, .wrapper-no4 .active .bird--16:before, .wrapper-no4 .active .bird--20, .wrapper-no4 .active .bird--20:after, .wrapper-no4 .active .bird--20:before, .wrapper-no4 .active .bird--18:before, .wrapper-no4 .active .bird--23, .wrapper-no4 .active .bird--23:after, .wrapper-no4 .active .bird--23:before, .wrapper-no4 .active .bird--26, .wrapper-no4 .active .bird--26:after, .wrapper-no4 .active .bird--26:before, .wrapper-no4 .active .bird--29, .wrapper-no4 .active .bird--29:after, .wrapper-no4 .active .bird--29:before, .wrapper-no4 .active .bird--30, .wrapper-no4 .button-bird:hover .bird:after, .wrapper-no4 .button-bird:hover .bird--1:before, .wrapper-no4 .button-bird:hover .bird--2, .wrapper-no4 .button-bird:hover .bird--2:before, .wrapper-no4 .button-bird:hover .bird--2:after, .wrapper-no4 .button-bird:hover .bird--3:after, .wrapper-no4 .button-bird:hover .bird--6, .wrapper-no4 .button-bird:hover .bird--6:after, .wrapper-no4 .button-bird:hover .bird--6:before, .wrapper-no4 .button-bird:hover .bird--8, .wrapper-no4 .button-bird:hover .bird--8:after, .wrapper-no4 .button-bird:hover .bird--8:before, .wrapper-no4 .button-bird:hover .bird--11, .wrapper-no4 .button-bird:hover .bird--11:after, .wrapper-no4 .button-bird:hover .bird--11:before, .wrapper-no4 .button-bird:hover .bird--12, .wrapper-no4 .button-bird:hover .bird--12:after, .wrapper-no4 .button-bird:hover .bird--12:before, .wrapper-no4 .button-bird:hover .bird--16, .wrapper-no4 .button-bird:hover .bird--16:after, .wrapper-no4 .button-bird:hover .bird--16:before, .wrapper-no4 .button-bird:hover .bird--20, .wrapper-no4 .button-bird:hover .bird--20:after, .wrapper-no4 .button-bird:hover .bird--20:before, .wrapper-no4 .button-bird:hover .bird--18:before, .wrapper-no4 .button-bird:hover .bird--23, .wrapper-no4 .button-bird:hover .bird--23:after, .wrapper-no4 .button-bird:hover .bird--23:before, .wrapper-no4 .button-bird:hover .bird--26, .wrapper-no4 .button-bird:hover .bird--26:after, .wrapper-no4 .button-bird:hover .bird--26:before, .wrapper-no4 .button-bird:hover .bird--29, .wrapper-no4 .button-bird:hover .bird--29:after, .wrapper-no4 .button-bird:hover .bird--29:before, .wrapper-no4 .button-bird:hover .bird--30 {
  animation-duration: 0.6s;
  animation-delay: -0.75s;
}
@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}
@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 1;
    top: -50%;
    left: auto;
  }
  1% {
    color: transparent;
    opacity: 0;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    color: #131335;
    opacity: 1;
  }
}
@keyframes feather-fade {
  0% {
    top: -100px;
    opacity: 0;
  }
  25% {
    transform: rotate(10deg);
    left: 30%;
  }
  50% {
    transform: rotate(-5deg);
    opacity: 1;
    left: 45%;
  }
  75% {
    transform: rotate(10deg);
    left: 32%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 12px;
    left: 43%;
  }
}


.pic{
	width: 625px;
    height: 350px;
    object-fit: fill;
    margin-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 12px;
}
.ravtqva{
	font-size: 30px;
	font-family: "MG Glaho Drunk" sans-serif;
	font-weight: bold;
	margin-top: 24px;
	margin-left: 120px;
	color: white;
}
.ravtqva1{
	font-size: 22px;
	font-family: "MG Glaho Drunk" sans-serif;
	font-weight: bold;
	margin-top: 36px;
	margin-left: 104px;
	color: #818181;
}
.tqvi{
	font-size: 18px;
    font-family: "alk-life" sans-serif;
    margin-top: 32px;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: lighter;
    color: white;
    line-height: 1.3;
}
footer{
  display: block;
}
.tqvi1{
    font-size: 21px;
    font-family: "alk-life" sans-serif;
    margin-top: 18px;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 500;
    color: white;
    line-height: 1.3;
}
.cc{
  margin-left: 12px;
  margin-bottom: 12px;
}
.tqvi2{
    font-size: 18px;
    font-family: "alk-life" sans-serif;
    margin-top: 24px;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: lighter;
    color: white;
    line-height: 1.3;
}
.modi{
	margin-left: 448px;
	font-size: 30px;
	font-weight: 700;
	font-family: "MG Glaho Drunk" sans-serif;
	background: black;
	width: 440px;
	height:70px;
	padding: 15px;
	color: white;
}
.modi1{
	margin-top: 30px;
	margin-left: 364px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 96px;
	font-family: "MG Glaho Drunk" sans-serif;
	color: #818181;
  animation-name: rot;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  filter:brightness(2);
  animation-timing-function: ease-in-out;
}
@keyframes rot {
0%{
  transform: rotate(0deg);
}
25%{
  transform: rotate(1.5deg);
}
75%{
  transform: rotate(-1.5deg);
}
100%{
  transform: rotate(0deg);
}

}
.ss{
	width: 100%;
	height: 72px;
	background: #23252A;
}
.body-5 article{
	background: #101D3D;
}
.modiii{
	background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 2%, rgba(87,0,167,1) 5%, rgba(81,35,156,1) 10%, rgba(59,9,115,1) 15%, rgba(32,0,96,1) 25%, rgba(51,19,99,1) 39%, rgba(43,4,111,1) 48%, rgba(74,0,126,1) 55%, rgba(53,5,107,1) 69%, rgba(86,0,186,1) 85%, rgba(255,255,255,1) 91%, rgba(0,0,0,1) 92%, rgba(53,5,107,1) 95%, rgba(53,5,107,1) 100%);
width: 100%;
height: 150px;
margin-top: 96px;
}

.body-5{
	background: black;
}
.mac{
	display: flex;
	justify-content: space-around;
	width: 601px;
	margin-left: 12px;
	padding-top: 12px;
}
.pic1{
	width: 290px;
	height: 230px;
	object-fit: fill;
}
.pic2{
	width: 290px;
	height: 230px;
	object-fit: fill;
}

.cc{ 
	display: block;
    background:  #23252A;
    margin-top: 12px;
}
.pic:hover{
	transform: scale(1.1);
	transition:transform .3s;
}
.pic1:hover{
	transform: scale(1.1);
	transition:transform .3s;
}
.pic2:hover{
	transform: scale(1.1);
	transition:transform .3s;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}
.menu {
    font-weight: 100;
    background: #efefef;
    width: 197px;
    height: 100%;
    padding-left: 60px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -150px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
}
.menu:hover, .menu:focus {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1.5s ease-in;
}
.menu .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    font-weight: 900;
    font-size: 20px;
    left: -8px;
    font-family: 'Muli', sans-serif;
}
.menu:hover .title{
    opacity: 0.1;
    transition: transform .6s;
}

.menu .nav {
    position: absolute;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 18px;
    font-family: "MG Glaho Drunk" sans-serif;
}
.menu .nav li {
    padding-bottom: 35px;
    list-style-type: none;
}
.menu .nav li a {
    display: block;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    margin-left: -13px;
}
.menu .nav li a:hover {
    color: #aaa;
    transform: scale(1.12);
    transition: transform .3s;
}
.intro {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 45px;
    text-align: center;
    font-style: italic;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
    background: #000;
    font-weight: 400;
    font-size: 15px;
    color: #aa3e03;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ie7 body{
    overflow:hidden;
}
a{
    color: #333;
    text-decoration: none;
}
.container{
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 30px 30px 10px 20px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
  font-family: "helvetica neue", helvetica;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
    font-size: 56px;
    font-family: "Permanent Marker", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    font-weight: 600;
}
.container h4{
    font-size: 28px;
    font-family: "Chelsea Market", sans-serif;
    color: white;
    font-weight: 900;
    line-height: 1.3;

    font-weight: 600;
    margin-top: -20px;
    margin-left: 20px;
}
.container > header h1 span{

}
.container > header h2, p.info{
    font-size: 16px;
    font-style: italic;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s;
}
.slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 60s linear infinite 0s;
    -moz-animation: titleAnimation 60s linear infinite 0s;
    -o-animation: titleAnimation 60s linear infinite 0s;
    -ms-animation: titleAnimation 60s linear infinite 0s;
    animation: titleAnimation 60s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 38px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 100px;
  margin-top: -320px;
  font-weight: 400;
    color:#5863F8;
    background:black;
    letter-spacing: 1px;

}
.slideshow li div h5 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 32px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 100px;
  margin-top: -350px;
  font-weight: 400;
    color:#5863F8;
    background:black;
     letter-spacing: 1px;

}
.slideshow li div h4 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 32px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 62px;
  margin-top: -350px;
  font-weight: 400;
    color:#5863F8;
    background:black;
     letter-spacing: 1px;

}
.slideshow li:nth-child(1) span { background-image: url(../img/holiday.png) }
.slideshow li:nth-child(2) span {
    background-image: url(../img/tkilamur.png);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    object-fit: coverö
}
.slideshow li:nth-child(3) span {
    background-image: url('../img/resort-bakuriani.png');
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
    object-fit: cover;
}
.slideshow li:nth-child(4) span {
    background-image: url(../img/camp.png);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
    object-fit: cover;
}
.slideshow li:nth-child(5) span {
    background-image: url(https://24.media.tumblr.com/b94dbb2a392198d5cc39c19959598229/tumblr_n0hpthN8VH1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
    object-fit: cover;
}
.slideshow li:nth-child(6) span {
    background-image: url(https://31.media.tumblr.com/67d222ee577fc35faca83f0e08efc48e/tumblr_mzzqt7wyEU1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
    object-fit: cover;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -moz-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -moz-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -o-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -o-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -o-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -ms-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    8% {
        opacity: 1;
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        transform: scale(10);
    }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
    .slideshow li div h3 { font-size: 50px }
}

.body-2 .bgImage {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bgImage {
  position: absolute;
  background-image: url(../img/93.png);
  background-size: cover;
  background-position: top;
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  z-index: -1;
}
.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.blob:nth-child(1) {
  animation: move1 20s infinite linear;
}
@keyframes move1 {
  from {
    transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
.blob:nth-child(2) {
  animation: move2 20s infinite linear;
}
@keyframes move2 {
  from {
    transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
.blob:nth-child(3) {
  animation: move3 20s infinite linear;
}
@keyframes move3 {
  from {
    transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
.blob:nth-child(4) {
  animation: move4 20s infinite linear;
}
@keyframes move4 {
  from {
    transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
.blob:nth-child(5) {
  animation: move5 20s infinite linear;
}
@keyframes move5 {
  from {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
  to {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
}
.blob:nth-child(6) {
  animation: move6 20s infinite linear;
}
@keyframes move6 {
  from {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
  to {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
}
.blob:nth-child(7) {
  animation: move7 20s infinite linear;
}
@keyframes move7 {
  from {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
.blob:nth-child(8) {
  animation: move8 20s infinite linear;
}
@keyframes move8 {
  from {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
.blob:nth-child(9) {
  animation: move9 20s infinite linear;
}
@keyframes move9 {
  from {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
.blob:nth-child(10) {
  animation: move10 20s infinite linear;
}
@keyframes move10 {
  from {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
.blob:nth-child(11) {
  animation: move11 20s infinite linear;
}
@keyframes move11 {
  from {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
.blob:nth-child(12) {
  animation: move12 20s infinite linear;
}
@keyframes move12 {
  from {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
.blob:nth-child(13) {
  animation: move13 20s infinite linear;
}
@keyframes move13 {
  from {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
.blob:nth-child(14) {
  animation: move14 20s infinite linear;
}
@keyframes move14 {
  from {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
.blob:nth-child(15) {
  animation: move15 20s infinite linear;
}
@keyframes move15 {
  from {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
.blob:nth-child(16) {
  animation: move16 20s infinite linear;
}
@keyframes move16 {
  from {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
.blob:nth-child(17) {
  animation: move17 20s infinite linear;
}
@keyframes move17 {
  from {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
.blob:nth-child(18) {
  animation: move18 20s infinite linear;
}
@keyframes move18 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
