@import url("//cdn.web-fonts.ge/fonts/mg-glaho-drunk/css/mg-glaho-drunk.min.css");
.topnav {
  overflow: hidden;
  background-color: #101D3D;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 144px;
  width: 730px;
  border-radius: 5px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 13px;
  margin-top: 4px;
  border-radius: 5px;
  font-family: "ALK Life", sans-serif;
}

.topnav a:hover {
  background-color: #96A7D4;
  color: black;
  transition:transform .3s;
  transform: scale(1.1);
}

.topnav a.active {
  background-color: #198EC8;
  color: white;
}

.topnav .icon {
  display: none;
}


.logo{
	width: 54px;
	height: 54px;
	margin-left: 39px;
	margin-top: 12.5px;
}
.logo:hover {
  transform: scale(1.3);
  transition:transform .3s; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.body-1{
	background: rgb(31,31,222);
background: linear-gradient(90deg, rgba(31,31,222,1) 1%, rgba(35,37,156,1) 7%, rgba(9,18,115,1) 15%, rgba(0,8,96,1) 28%, rgba(9,9,118,1) 49%, rgba(9,19,121,1) 62%, rgba(7,0,88,1) 79%, rgba(53,5,107,1) 98%);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	background-attachment: fixed;
}

.mr.bean{
	display: none;
}

.body-5 header{
  height: 0px;
  display: flex;
}

.gondola{
	margin-left: 980px;
  width: 60px;
  height: 60px;
	margin-bottom: 410px;
	position: absolute;
	animation-name: gondol;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-out;
}
.mtadagondola{
	position: relative;
	margin-top: 205px;
	width: 45px;
	height: 45px;
  margin-left: 750px;
}
.mtadagondola1{
	margin-top: 197px;
	position: relative;
	width: 55px;
	height: 55px;
}
@keyframes gondol {
	0%{
		left: 0; bottom: 0;
	}
	100%{
		left: 205px; bottom: 98px;
	}
}

.hey{
	
	height: 100%;

}
.heyyo{
	display: flex;
}
.ioskier{
	width: 35px;
	position: absolute;
	margin-left: -145px;
	margin-top: 90px;

	animation-name: skiing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes skiing{
	0%{
		top: 0px; left: 382px;
	}
	100%{
		top: 78px; left: 343px;
	}
}
.skier{
	position: relative;
	margin-left: 96px;
	margin-top: 120px;
	
	width: 260px;
}
	
.container{
	display: flex;
	justify-content: space-between;

}
@keyframes animate {
	0%,10%,100%{
		width: 0;
	}
	50%,80%{
		width: 100%;
	}
}
.mzadxar1{
	font-size: 22px;
	font-family: "MG Glaho Drunk", sans-serif;
	color: black;
	line-height: 1.2;
	margin-top: 36px;
	margin-left: 134px;
	font-weight: 800;
	
}
.mzadxar2{
	font-size: 22px;
	font-family: "MG Glaho Drunk", sans-serif;
	color: black;
	line-height: 1.2;
	margin-top: 5px;
	margin-left: 134px;
	font-weight: 800;
	
}
.hrr{
	width: 500px;
	margin-left: 140px;
	margin-top: 20px;
	color: black;
}}
.privet{
	display: flex;
}
.satauri{
	font-size: 86px;
	font-family: "Permanent Marker", sans-serif;
	color: black;
	font-weight: bold;
	line-height: 1.3;
	margin-top: 30px;
	margin-left: 230px;
	font-weight: 600;
}
.satauri1{
	font-size: 36px;
	font-family: "Chelsea Market", sans-serif;
	color: black;
	font-weight: 900;
	line-height: 1.3;
	margin-top: -10px;
	margin-left: 300px;
	font-weight: 600;
}
.hey{
	display: flex;
}

.vottak:hover {
  transform: scaleX(-1);
}

@keyframes zoom {
  from {transform: scale(0.01)} 
  to {transform: scale(1)}
}
.mzadxar {  
	font-size: 19px;
	margin-left:48px;
  animation-name: zoom;
  animation-duration: 3s;
  font-family: "ALKDots", sans-serif;
}

@keyframes zoom {
  from {transform: scale(0.01)} 
  to {transform: scale(1)}
}
.body-2{
	background: black;
	background-image: url(../img/snow.gif);
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}


.bg-image {
  /* The image used */
  background-image: url("../img/images.jpg");
  
  /* Add the blur effect */I
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
   margin-top: 60px;
   margin-left: 290px;
    width: 780px;
  height: 475px;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid white;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 15px;
  text-align: center;
  font-size:18px;
  line-height: 35px;
  font-family: "ALK Life", sans-serif;
}
.bg-text:hover{
		background-color: #19284E;
}
.bg-text:hover{
	border:3px solid black;
}
.bg-text:hover{
	color: black;}
.soc{
	display: flex;
	margin-left: 350px;
	position: absolute;
}
.ravi{display: block;}


i.fa.fa-facebook{
border-radius: 100%;
font-size: 34px;
background: #3B5998;
height: 50px;
width: 50px;
line-height: 40px;
padding: 5px;
margin: 5px;
text-align: center;
border: 1px solid #3B5998;
color: white;
}
i.fa.fa-instagram{
border-radius: 100%;
background: #125688;
font-size: 34px;
height: 50px;
line-height: 40px;
padding: 5px;
margin: 5px;
margin-left: 20px;
text-align: center;
width: 50px;
border: 1px solid #3B5998;
color: white;
}
i.fa.fa-facebook:hover{
	opacity: 0.7;
}
i.fa.fa-instagram:hover{
	opacity: 0.7;
}

.bg-text1{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
 
  position: absolute;
  top: 500px;
  margin-left: 690px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 160px;
  padding: 7px;}

.bg-text2{
  background-color: #19284E; /* Fallback color *//* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border:3px solid black;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 15px;
  text-align: center;
  font-size:20px;
  line-height: 35px;
  font-family: "ALK Life", sans-serif;
  
}
.bg-text3{
  background-color: #19284E; /* Fallback color *//* Black w/opacity/see-through */
  color: white;
  font-weight: 500;
  border:3px solid black;
  position: absolute;
  top: 370px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 15px;
  text-align: center;
  font-size:18px;
  line-height: 20px;
  font-family: "ALK Life", sans-serif;
  
}
.tarigi{
	display: block;
	font-size: 14px;
	line-height: 15px;
	margin-top: 25px;

}
.xo{
	display: flex;
	margin-top: 10px;
}
.ho{
	display: flex;
	margin-top: 20px;
}
.va1{
	margin-left: 40px;
	height: 25px;
	width: 250px;
	margin-bottom: 25px;
}
.va{
	margin-left: 25px;
	height: 25px;
	width: 250px;
	margin-bottom: 25px;
}
.week{
    margin-top: 80px;
}
.submit{
	font-size: 14px;
	font-family: "Chelsea Market", sans-serif;
	color: white;
	font-weight: 700;
	background: orange;
	width: 80px;
	height: 30px;
	margin-top: 30px;
}
.haha{
	display: block;
}
.mail{
	margin-top: 30px;
	display: flex;
	font-family: "MG Glaho Drunk" sans-serif;
	font-size: 16px;}

.ui{
	display: block;
	margin-top: 64px;
}
.ai{
	display: flex;
	margin-top: 72px;
}
.ei{margin-top: 12px;
 }
.pic{
	width: 625px;
    height: 350px;
    object-fit: fill;
    margin-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
}
.ravtqva{
	font-size: 32px;
	font-family: "MG Glaho Drunk" sans-serif;
	font-weight: bold;
	margin-top: 24px;
	margin-left: 156px;
	color: white;
}
.ravtqva1{
	font-size: 22px;
	font-family: "MG Glaho Drunk" sans-serif;
	font-weight: bold;
	margin-top: 48px;
	margin-left: 48px;
	color: #818181;
}
.tqvi{
	font-size: 18px;
    font-family: "alk-life" sans-serif;
    margin-top: 48px;
    margin-left: 7%;
    margin-right: 7%;
    font-weight: lighter;
    color: white;
    line-height: 1.2;
}
.tqvi1{
    font-size: 20px;
    font-family: "alk-life" sans-serif;
    margin-top: 24px;
    margin-left: 7%;
    margin-right: 7%;
    font-weight: lighter;
    color: white;
    line-height: 1.2;
}
.tqvi2{
    font-size: 18px;
    font-family: "alk-life" sans-serif;
    margin-top: 36px;
    margin-left: 7%;
    margin-right: 7%;
    font-weight: lighter;
    color: white;
    line-height: 1.2;
}
.modi{
	margin-left: 500px;
	font-size: 30px;
	font-weight: 700;
	font-family: "MG Glaho Drunk" sans-serif;
	background: black;
	width: 440px;
	height:70px;
	padding: 15px;
	color: white;
}
.modi1{
	margin-top: 36px;
	margin-left: 380px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 96px;
	font-family: "MG Glaho Drunk" sans-serif;
	color: #818181;
}
.ss{
	width: 100%;
	height: 72px;
	background: #23252A;
}
.body-5 article{
	background: #101D3D;
}
.modiii{
	background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 2%, rgba(87,0,167,1) 5%, rgba(81,35,156,1) 10%, rgba(59,9,115,1) 15%, rgba(32,0,96,1) 25%, rgba(51,19,99,1) 39%, rgba(43,4,111,1) 48%, rgba(74,0,126,1) 55%, rgba(53,5,107,1) 69%, rgba(86,0,186,1) 85%, rgba(255,255,255,1) 91%, rgba(0,0,0,1) 92%, rgba(53,5,107,1) 95%, rgba(53,5,107,1) 100%);
width: 100%;
height: 150px;
margin-top: 96px;
}

.body-5{
	background: black
}
.mac{
	display: flex;
	justify-content: space-around;
	width: 601px;
	margin-left: 12px;
	padding-top: 12px;
}
.pic1{
	width: 290px;
	height: 230px;
	object-fit: fill;
}
.pic2{
	width: 290px;
	height: 230px;
	object-fit: fill;
}

.cc{ 
	display: block;
    background:  #23252A;
    margin-top: 12px;
}
.pic:hover{
	transform: scale(1.1);
	transition:transform .3s;
}
.pic1:hover{
	transform: scale(1.1);
	transition:transform .3s;
}
.pic2:hover{
	transform: scale(1.1);
	transition:transform .3s;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}
.menu {
    font-weight: 100;
    background: #efefef;
    width: 197px;
    height: 100%;
    padding-left: 60px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -150px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
}
.menu:hover, .menu:focus {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1.5s ease-in;
}
.menu .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    font-weight: 900;
    font-size: 20px;
    left: -2px;
}
.menu:hover .title{
    opacity: 0.1;
    transition: transform .6s;
}

.menu .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 18px;
    font-family: "MG Glaho Drunk" sans-serif;
}
.menu .nav li {
    padding-bottom: 35px;
    list-style-type: none;
}
.menu .nav li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    margin-left: -3.2px;
}
.menu .nav li a:hover {
    color: #aaa;
    transform: scale(1.2);
    transition: transform .3s;
}
.intro {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 45px;
    text-align: center;
    font-style: italic;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
    background: #000;
    font-weight: 400;
    font-size: 15px;
    color: #aa3e03;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ie7 body{
    overflow:hidden;
}
a{
    color: #333;
    text-decoration: none;
}
.container{
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 30px 30px 10px 20px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
  font-family: "helvetica neue", helvetica;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
    font-size: 56px;
    font-family: "Permanent Marker", sans-serif;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    font-weight: 600;
}
.container h4{
    font-size: 28px;
    font-family: "Chelsea Market", sans-serif;
    color: white;
    font-weight: 900;
    line-height: 1.3;

    font-weight: 600;
    margin-top: -20px;
    margin-left: 20px;
}
.container > header h1 span{

}
.container > header h2, p.info{
    font-size: 16px;
    font-style: italic;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s;
}
.slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 60s linear infinite 0s;
    -moz-animation: titleAnimation 60s linear infinite 0s;
    -o-animation: titleAnimation 60s linear infinite 0s;
    -ms-animation: titleAnimation 60s linear infinite 0s;
    animation: titleAnimation 60s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 38px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 100px;
  margin-top: -320px;
  font-weight: 400;
    color:#5863F8;
    background:black;
    letter-spacing: 1px;

}
.slideshow li div h5 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 32px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 100px;
  margin-top: -280px;
  font-weight: 400;
    color:#5863F8;
    background:black;
     letter-spacing: 1px;

}
.slideshow li div h4 {
  font-family: "MG Glaho Drunk";
  text-transform: uppercase;
  font-size: 32px;
  width: 85%;
  margin-left: 72px;
  padding: 0px;
  line-height: 62px;
  margin-top: -350px;
  font-weight: 400;
    color:#5863F8;
    background:black;
     letter-spacing: 1px;

}
.slideshow li:nth-child(1) span { background-image: url(../img/93.png) }
.slideshow li:nth-child(2) span {
    background-image: url(../img/tkilamur.png);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.slideshow li:nth-child(3) span {
    background-image: url('../img/resort-bakuriani.png');
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
    object-fit: fill;
}
.slideshow li:nth-child(4) span {
    background-image: url(../img/camp.png);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(5) span {
    background-image: url(https://24.media.tumblr.com/b94dbb2a392198d5cc39c19959598229/tumblr_n0hpthN8VH1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.slideshow li:nth-child(6) span {
    background-image: url(https://31.media.tumblr.com/67d222ee577fc35faca83f0e08efc48e/tumblr_mzzqt7wyEU1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -moz-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -moz-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -o-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -o-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -o-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% {
        opacity: 0;
        -ms-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    8% {
        opacity: 1;
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        transform: scale(10);
    }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
    .slideshow li div h3 { font-size: 50px }
}